/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
@import url("https://fonts.googleapis.com/css?family=Lato");
@import url("https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.comen {
  font-size: 14px;
  margin: 15px;
  padding: 15px;
  border: 1px solid #b3bcb6;
  background-color: #bfbfbf;
}

.type-nick {
  margin: 15px 0 10px;
  text-align: center;
}

.type-data {
  margin-top: 15px;
}

.captcha-desc {
  text-align: center;
}

.nick {
  margin: 0 10px 5px;
  font-size: 20px;
}

.date {
  margin: 0 10px 15px;
  font-size: 10px;
}

.data {
  margin: 0 10px 10px;
  font-size: 13px;
}

.comments {
  padding-top: 10px;
  margin-bottom: 10px;
  background-color: #a3a3a3;
  border: 1px solid #848484;
}

.comments:last-child {
  margin-bottom: 0px;
}

.result {
  width: 100px;
  margin: auto;
  display: block;
  text-align: center;
}

.form-row {
  margin: 10px 0;
}

label {
  display: inline-block;
}

textarea {
  width: 100%;
  box-sizing: border-box;
  resize: none;
  margin: 10px 0 20px;
}

@media screen and (min-width: 640px) {
  .comen {
    font-size: 1rem;
  }
  .type-nick {
    margin: 20px 0 20px;
  }
  .type-data {
    margin-top: 20px;
  }
  .nick {
    font-size: 25px;
  }
  .date {
    margin: 0 10px 20px;
    font-size: 12px;
  }
  .data {
    font-size: 15px;
  }
}

.row:after {
  display: block;
  clear: both;
  content: '';
}

[class*='col-'] {
  float: left;
  width: 100%;
  min-height: 1px;
  margin: 0;
}

@media only screen and (min-width: 640px) {
  [class*='col-'] {
    margin-right: 1%;
  }
  [class*='col-']:last-of-type {
    margin-right: 0;
  }
  .col-1-6 {
    width: 15.83333333%;
  }
  .col-2-6 {
    width: 32.66666667%;
  }
  .col-3-6 {
    width: 49.5%;
  }
  .col-4-6 {
    width: 66.33333333%;
  }
  .col-5-6 {
    width: 83.16666667%;
  }
  .col-6-6 {
    width: 100%;
  }
}

.head {
  background-image: url("../../photos/ser.png");
  height: 200px;
  position: relative;
  background-attachment: fixed;
  background-position: 50% 0px;
  background-repeat: no-repeat;
}

.dim {
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
}

.head_container {
  font-family: "Lato", sans-serif;
  position: absolute;
  top: 0;
  width: 100%;
  margin: 40px auto;
  text-align: center;
}

.site_name {
  margin-bottom: 30px;
  font-size: 35px;
  font-weight: 500;
  color: white;
}

.site_desc {
  width: 220px;
  margin: 0 auto;
  font-size: 14px;
  color: white;
  border-top: 1px solid #DBDBDB;
}

.site_desc > h3 {
  padding: 15px 0;
}

.navigation {
  visibility: hidden;
}

@media screen and (min-width: 640px) {
  .head {
    height: 260px;
  }
  .site_name {
    font-size: 50px;
  }
  .site_desc {
    width: 300px;
    font-size: 20px;
  }
  .site_desc > h3 {
    padding: 25px 0;
  }
  .navigation {
    display: block;
    width: 100%;
    visibility: visible;
    background-color: rgba(255, 255, 255, 0.15);
    border-top: 1px solid rgba(255, 255, 255, 0.2);
    position: absolute;
    bottom: 0;
  }
  .menu {
    font-family: "Open Sans Condensed", sans-serif;
    font-weight: 400;
    display: table;
    list-style: none;
    margin: 0 auto;
    padding: 0;
  }
  .scroll-menu {
    font-family: "Open Sans Condensed", sans-serif;
    font-weight: 400;
    display: table;
    list-style: none;
    margin: 0 auto;
    padding: 0;
  }
  .menu_item {
    min-width: 180px;
    float: left;
    text-transform: uppercase;
    font-size: 20px;
    text-align: center;
    border-right: 1px solid rgba(255, 255, 255, 0.2);
  }
  .menu_item a {
    width: 100%;
    display: inline-block;
    color: white;
    padding: 14px 0;
    text-decoration: none;
  }
  .menu_item:last-child {
    border-right: 0;
  }
  .dropdown-content {
    max-height: 0;
    overflow: hidden;
    position: absolute;
    background-color: white;
    min-width: 180px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    transition: max-height 0.5s ease-in-out;
  }
  .dropdown-content a {
    border-bottom: 1px solid #dddddd;
    color: black;
    padding: 12px 0;
    text-decoration: none;
    display: block;
  }
  .menu_item:hover {
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.2);
    transition: background-color, 0.3s;
  }
  .dropdown-content a:hover {
    background-color: #f1f1f1;
  }
  .menu_item:hover .dropdown-content {
    max-height: 300px;
  }
}

body {
  background-color: #bfbfbf;
}

.body-container {
  font-family: "Lato", sans-serif;
  width: 95%;
  margin: 10px auto 10px;
  background-color: #e2e2e2;
  border: 1px solid #b1b1b1;
}

.error {
  font-size: 14px;
  margin: 10px auto;
  text-align: center;
}

.image {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px 0 20px;
}

.image > img {
  background-color: white;
  border-radius: 50%;
  border: 1px solid #c1c1c1;
}

.content {
  padding: 30px 40px;
}

.content p {
  line-height: 25px;
  text-align: center;
  color: black;
}

@media screen and (min-width: 640px) {
  .error {
    font-size: 16px;
    margin: 15px auto;
  }
  .content {
    font-size: 17px;
  }
  .body-container {
    width: 80%;
  }
}

@media screen and (min-width: 900px) {
  .body-container {
    width: 850px;
  }
}

.mob-navigation {
  display: block;
  width: 100%;
  background-color: black;
  position: absolute;
  bottom: 0;
}

.mob-menu {
  width: 100%;
  font-family: "Open Sans Condensed", sans-serif;
  font-weight: 400;
  display: table;
  list-style: none;
  margin: 0 auto;
  padding: 0;
}

.mob-menu-item {
  width: 100%;
  float: left;
  text-transform: uppercase;
  font-size: 20px;
  text-align: center;
  border-right: 1px solid rgba(255, 255, 255, 0.2);
}

.mob-menu-item p {
  width: 100%;
  display: inline-block;
  color: white;
  padding: 6px 0;
  text-decoration: none;
}

.mob-menu-item:hover {
  cursor: pointer;
}

.mob-dropdown-content {
  max-height: 0;
  overflow: hidden;
  position: absolute;
  background-color: black;
  width: 100%;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  transition: max-height 0.5s ease-in-out;
}

.mob-dropdown-content a {
  font-size: 15px;
  border-bottom: 1px solid #dddddd;
  color: white;
  padding: 12px 0;
  text-decoration: none;
  display: block;
}

@media screen and (min-width: 640px) {
  .mob-navigation {
    height: 0px;
    display: none;
  }
}

.scroll-nav {
  top: 0px;
  display: block;
  height: 0;
  width: 100%;
  visibility: hidden;
  background-color: black;
  position: sticky;
}

.scroll-menu {
  font-family: "Open Sans Condensed", sans-serif;
  display: table;
  list-style: none;
  margin: 0 auto;
  padding: 0;
}

.scroll-menu-item {
  min-width: 100px;
  float: left;
  text-transform: uppercase;
  font-size: 13px;
  text-align: center;
  border-right: 1px solid rgba(255, 255, 255, 0.2);
}

.scroll-menu-item a {
  font-weight: 700;
  width: 100%;
  display: inline-block;
  color: white;
  padding: 13px 0;
  text-decoration: none;
}

.scroll-menu-item:last-child {
  border-right: 0;
}

.scroll-menu-item:hover {
  cursor: pointer;
}

.scroll-dropdown-content a:hover {
  background-color: #f1f1f1;
}

.scroll-menu-item:hover .scroll-dropdown-content {
  max-height: 300px;
}

.scroll-dropdown-content {
  max-height: 0;
  overflow: hidden;
  position: absolute;
  background-color: white;
  min-width: 100px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  transition: max-height 0.5s ease-in-out;
}

.scroll-dropdown-content a {
  border-bottom: 1px solid #dddddd;
  color: black;
  padding: 13px 0px;
  text-decoration: none;
  display: block;
  color: black;
  font-weight: 400;
}

@media screen and (min-width: 640px) {
  .scroll-menu-item {
    min-width: 180px;
    font-size: 20px;
  }
  .scroll-dropdown-content {
    min-width: 180px;
  }
}

.semester {
  margin: 30px 0 15px;
  text-align: center;
  font-size: 30px;
}

.year {
  margin: 0;
  text-align: center;
  font-size: 15px;
}

.show-subject {
  color: white;
  text-align: center;
  padding: 20px 0;
  margin: 1rem auto 0;
  display: inline-block;
  width: 100%;
  font-size: 16px;
}

.show-subject:hover {
  cursor: pointer;
}

input[type=checkbox] {
  display: none;
}

.subject {
  max-height: 0;
  overflow: hidden;
  background: #f4f4f4;
  border-left: 1px solid #b1b1b1;
  border-right: 1px solid #b1b1b1;
  border-bottom: 1px solid #b1b1b1;
  transition: max-height 0.5s ease-in-out;
}

input[type=checkbox]:checked ~ .subject {
  max-height: 500px;
}

.background-1 {
  background-position: 10% 0px;
  background-repeat: no-repeat;
  background-image: url("../../photos/salawyk3.png");
}

.background-2 {
  background-position: 10% 0px;
  background-repeat: no-repeat;
  background-image: url("../../photos/salakomp1.png");
}

[class*='coll-'] {
  text-align: left;
  color: black;
  background-color: #bababa;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 0 0 8px;
  font-size: 15px;
  margin-left: 10px;
  margin-right: 10px;
}

.label-title {
  padding: 0 10px;
  background-color: #969696;
}

.label-title h5 {
  text-align: center;
  padding: 10px 0;
  color: black;
  font-size: 16px;
}

.label-content {
  font-size: 14px;
  padding: 10px 10px 0 20px;
}

.label-content li {
  list-style: initial;
  margin-bottom: 5px;
}

.hobby-semseters {
  background-color: #969696;
  margin: 1rem auto 0;
  display: inline-block;
  width: 100%;
  font-size: 20px;
}

.hobby-semseters a {
  border-bottom: 1px solid #dddddd;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  font-size: 15px;
  text-align: center;
}

@media screen and (min-width: 640px) {
  .semester {
    font-size: 35px;
  }
  .coll-left {
    margin-right: 0px;
  }
  .coll-right {
    margin-left: 0px;
  }
  .year {
    font-size: 20px;
  }
  .label-title h5 {
    font-size: 17px;
  }
  .show-subject {
    font-size: 20px;
  }
}
